.w-100{
  width: 100%;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.component-section__container{
  padding: 24px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}
